body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', arial;
    flex: 1;

}
.header {
    background-color: #1f2937;
    display: flex;
    padding: 150px;
    padding-top: 20px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    

}

.logo{
    font-size: 24px;
    color: #f9faf8;
}



a {
    
    text-decoration: none;
  
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header .links a {
    color: #efe7eb;
    font-size: 18px;
    
}

.hero{
    background-color: #1f2937;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    justify-content: space-between;

    
    
}

.hero img{
    width: 400px;
    border-radius: 12px;
}

.info {
    width: 300px;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.info .subtext{
    color: #efe7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #efe7eb;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 12px;
}

.random-info{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    padding: 20px;
    gap: 50px;
    text-align: center;
}

.cards img{
    width: 150px;
    height: inherit;
    border-radius: 8px;
}

.cards .text{
    width: 150px;
}

.individual{
    width: 50;
    height: 50;
}

.info-header{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;

}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px;
    color: #f9faf8;
}

.quote {
    padding: 30px;
    display: flex;
   
    flex-direction: column;
    background-color: #E5E7EB;
}

.source{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    font-weight: bold;
    width: 700px;
}

.quote-text{
    
    align-self: center;
    width: 700px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.call-to-action button{
    border: 2px solid white;
}

.call-to-action{
    background-color: #efe7eb ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
 
    
}
.call-to-action .text {
    padding: 20px;
    color: #E5E7EB;
    
}
.call-to-action .subtext{
    font-size: 12px;
}
.main {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 600px;
    height: 100px;
    border-radius: 8px;
    background-color: #3882f6;
}




